<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
<h1>Reset Password</h1>
<hr/>
<form action="{% url 'login:password_reset' %}" method="POST">
    {% csrf_token %}
    <input type="password" name="password" placeholder="New Password">
    <br/>
    <input type="password" name="confirm_password" placeholder="Repeat New Password">
    <br/>
    {% if not user.is_authenticated %}
        <input type="hidden" name="token" placeholder="Token" value="{{ token }}">
    {% endif %}
    <br/>
    <button>Submit</button>
</form>
<hr/>
</body>
</html>
