<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Sign Up - step 2/2</title>
</head>
<body>
   <h1>Sign Up - step 2/2</h1>
   <hr />
   <form action="{% url 'login:sign_up_two' %}" method="POST">
      {% csrf_token %}
      <input type="text" name="first_name" placeholder="First name">
      <input type="text" name="last_name" placeholder="Last name">
      <button>Sign up</button>
   </form>
   <hr />
   {% if error %}
      {{ error }}
   {% endif %}
</body>
</html>
