input {
    display: block;
    padding: 0.2rem;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    width: 20.2rem;
    height: 2em;
}

.choices {
    width: 20rem;
    margin-right: 1em;
}

.choices__inner {
    min-height: 1em;
}

@media screen and (min-width: 700px) {
    .row {
        display: grid;
        grid-template-areas: "a a a a";
        grid-gap: 1rem;
    }
}

