<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Accounting - {% block title %}{% endblock %}</title>
</head>
<body>
<ul class="messages" data-messages>
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
    </li>
    {% endfor %}
</ul>
<nav>
    <li>
        <a href="{% url 'login:logout' %}">Log out</a>
    </li>
</nav>
<aside>
    <ul>
        <li>
            <a href="{% url 'accounting:index' %}">Dashboard</a>
        </li>

        <li>Relations
            <ul>
                <li>
                    <a href="{% url 'accounting:clients' %}">Clients</a>
                </li>
                <li>
                    <a href="">Vendors</a>
                </li>
            </ul>
        </li>

        <li>Transaction
            <ul>
                 <li>
                    <a href="">Invoices</a>
                </li>
                <li>
                    <a href="">Bills</a>
                </li>
            </ul>
        </li>

        <li>Administration
            <ul>
                <li>
                    <a href="">Account</a>
                </li>
                <li>
                    <a href="">Company</a>
                </li>
                <li>
                    <a href="">Banking</a>
                </li>
                <li>
                    <a href="{% url "accounting:items" %}">Items</a>
                </li>
            </ul>
        </li>
    </ul>
</aside>

<main>
    {% block content %}
    {% endblock %}
</main>

{% block scripts %}
{% endblock %}

</body>
</html>
