{% extends "accounting/base.html" %}

{% block title %}
    Invoices
{% endblock %}


{% block content %}
    {% for invoice in invoices %}
{#        <a href="{% url "accounting:client" invoice.uuid%}">  invoice instead of client#}
            <p>{{ invoice.reference }}</p>
{#        </a>#}
    {% endfor %}

    <section>
        <form method="POST" action="{% url 'accounting:invoices' %}">
            {% csrf_token %}
            <input type="text" name="reference" placeholder="Reference">
            <select name="currency">
                {% for currency in currencies %}
                    <option value="{{ currency.pk }}" {% if currency.pk == default_currency %} selected {% endif %}>
                        {{ currency.name }}
                    </option>
                {% endfor %}
            </select>
            <button>Create</button>
        </form>
    </section>
{% endblock %}
