{% extends "accounting/base.html" %}

{% block title %}
    Invoices
{% endblock %}


{% block content %}

    <table data-table data-url="{% url 'accounting:invoice-list' %}" data-row-link-base="{{ request.get_full_path }}">
    </table>

    <section data-create-form>
        <span data-url="{% url 'accounting:invoice-list' %}"></span>
        {% csrf_token %}
        <select data-field data-choices name="client" data-url="{% url 'accounting:clients-api' %}">
            <option value="">Select client</option>
        </select>
        <input data-field type="text" name="reference" placeholder="reference">
        <select data-field name="currency">
            {% for currency in currencies %}
                <option value="{{ currency.pk }}" {% if currency.pk == default_currency %} selected {% endif %}>
                    {{ currency.name }}
                </option>
            {% endfor %}
        </select>
        <div data-subs>
            <div data-sub-row>
                <select data-item-pk data-choices data-url="{% url 'accounting:item-api' %}">
                    <option value="">Select item</option>
                </select>
                <input data-sub-item-field type="number" name="amount" placeholder="Amount">
                <input data-sub-item-field type="number" name="price" placeholder="price">
            </div>
        </div>
        <button data-add-sub-row>Add item</button>
        <template data-sub-template>
            <div data-sub-row>
                <select data-item-pk data-choices data-url="{% url 'accounting:item-api' %}">
                    <option value="">Select item</option>
                </select>
                <input data-sub-item-field type="number" name="amount" placeholder="Amount">
                <input data-sub-item-field type="number" name="price" placeholder="price">
            </div>
        </template>
        <button data-submit>Create</button>
    </section>
{% endblock %}
