{% extends "accounting/base.html" %}

{% block title %}
    Invoices
{% endblock %}


{% block content %}
    <table data-table data-url="{% url 'accounting:invoice-detail' uuid %}" data-row-link-base="#">
    </table>
    <table data-table data-table-items data-url="{% url 'accounting:invoice-detail' uuid %}" data-row-link-base="#">
    </table>

    <section data-update-form>
        <span data-url="{% url 'accounting:invoice-detail' uuid %}"></span>
        <h2>Add item</h2>
        <select data-item-pk data-choices data-url="{% url 'accounting:item-api' %}">
            <option value="">Select item</option>
            {% for item in items %}
                <option value="{{ item.uuid }}" data-price="{{ item.default_price }}">
                    {{ item.description }}
                </option>
            {% endfor %}
        </select>
        <input data-field type="number" name="amount" placeholder="Amount">
        <input data-field type="number" name="price" placeholder="price">
        <button data-submit>Add item</button>
    </section>
{% endblock %}
