{% extends "accounting/base.html" %}
{% load static %}

{% block title %}
    Items
{% endblock %}

{% block content %}
    <table data-table data-url="{% url 'accounting:item-api' %}" data-row-link-base="#">
    </table>

    <section data-create-form>
        <span data-url="{% url 'accounting:item-api' %}"></span>
        <input data-field type="text" name="description" placeholder="Description">
        <input data-field type="number" name="default_price" placeholder="Default price">
        <button data-submit>Create</button>
    </section>
{% endblock %}
