{% extends "accounting/base.html" %}
{% load static %}

{% block title %}
    Items
{% endblock %}

{% block content %}
    {% for item in items %}
        <p>{{ item.description }}</p>
    {% endfor %}

    <section data-create-form class="create">
        <span data-url="{% url 'accounting:item_create' %}"></span>
        <input data-field type="text" name="description" placeholder="Description">
        <input data-field type="number" name="price" placeholder="Default price">
        <button data-submit>Create</button>
    </section>
{% endblock %}
